*{margin:0;padding:0;}
div#topbackgroundcolor {
    background: #ffd2d2;
    height: 595px;
}

.container {
    width: 1000px;
    margin: auto;
}

.topsec h2 {
    float: left;
    color: #292929;
    width: 459px;
    font-size: 49px;
    font-family: system-ui;
    margin-top: 130px;
    margin-bottom: 20px;
}

.topsec p {
    width: 439px;
    font-size: 12px;
    color: #555555;
    line-height: 18px;
    font-family: system-ui;
}

.topsec img {
    width: 450px;
    float: right;
    margin-top: -370px;
    position: relative;
}

.topsec button a {
    text-decoration: none;
    color: white;
}

.topsec button {
    border: none;
    padding: 12px;
    margin-top: 28px;
    width: 121px;
    text-align: center;
    background: #ff9b9b;
    border-radius: 5px;
}.ftext h2 {
    margin: 15px 204px;
    text-align: center;
    font-family: system-ui;
    font-size: 29px;
    color: #444444;
    margin-top: 100px;
}

.ftext p {
    text-align: center;
    width: 403px;
    margin: auto;
    color: #858585;
    font-size: 12px;
    font-family: system-ui;
}.fin {
    width: 313px;
    display: flex;
    float: left;
    height: 309px;
    border-radius: 50% 50% 0 0;
    margin: 10px;
    padding: 42px 0px 0px 0;
    position: relative;
    margin-top: 34px;
}
.fimginone.fin {
    background: #f1dde7;
}
.fimgintwo.fin {
    background: #D9EFF0;
}.fimginthree.fin {
    background: #E3EBDB;
}

.fimginthree.fin img {position: absolute;top: 62px;left: 19.5%;width: 193px;}
.fimgintwo.fin img {position: absolute;top: 70px;left: 11%;width: 265px;}
.fimginone.fin img {position: absolute;top: 82px;left: 19%;width: 195px;}
