*{margin:0;padding:0;}
div#topbackgroundcolor {
    background: #ffd2d2;
    height: 595px;
}

.container {
    width: 1000px;
    overflow: hidden;
    margin: auto;
}

.topsec h2 {
    float: left;
    color: #292929;
    width: 459px;
    font-size: 49px;
    font-family: system-ui;
    margin-top: 130px;
    margin-bottom: 20px;
}

.topsec p {
    width: 439px;
    font-size: 12px;
    color: #555555;
    line-height: 18px;
    font-family: system-ui;
}

.topsec img {
    width: 450px;
    float: right;
    margin-top: -370px;
    position: relative;
}

.topsec button a {
    text-decoration: none;
    color: white;
}

.topsec button {
    border: none;
    padding: 12px;
    margin-top: 28px;
    width: 121px;
    text-align: center;
    background: #ff9b9b;
    border-radius: 5px;
}.ftext h2 {
    margin: 15px 204px;
    text-align: center;
    font-family: system-ui;
    font-size: 29px;
    color: #444444;
    margin-top: 100px;
}

.ftext p {
    text-align: center;
    width: 403px;
    margin: auto;
    color: #858585;
    font-size: 12px;
    font-family: system-ui;
}.fin {
    width: 313px;
    display: flex;
    float: left;
    height: 309px;
    border-radius: 50% 50% 0 0;
    margin: 10px;
    padding: 42px 0px 0px 0;
    position: relative;
    margin-top: 34px;
}
.fimginone.fin {
    background: #f1dde7;
}
.fimgintwo.fin {
    background: #D9EFF0;
}.fimginthree.fin {
    background: #E3EBDB;
}

.fimginthree.fin img {position: absolute;top: 62px;left: 19.5%;width: 193px;}
.fimgintwo.fin img {position: absolute;top: 70px;left: 11%;width: 265px;}
.fimginone.fin img {position: absolute;top: 82px;left: 19%;width: 195px;}

.featuredlink a {
    font-family: system-ui;
    color: #2f2f2f;
    font-weight: 600;
    display: block;
    margin: 15px 101px;
}

.featuredlink {display: flex;float: left;}
.trdiconsingle {
    display: flex;
    float: left;
}

.trdiconall {display: block;background: #f1f1f1;width: 999px;margin: 68px 0px;height: 238px;border-radius: 5px;}

.trdiconsingle img {
    }
    
.trdiconsingle p {
    position: absolute;
    top: 1450px;
    padding: 0px 50px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #363636;
}.trdiconsingle img {
    width: 60px;
    padding: 21px 136.5px;
    padding-top: 65px;
}
.trdiconsingle.trdiconsingletwo p {
    margin-left: 10px;
}

.trdiconsingle.trdiconsingletrhee p {
    margin-left: 50px;
}.dealleft {
    display: inline-block;
    width: 500px;
    padding-left: 130px;
    float: left;
}

.dealleft h2 {
    font-family: system-ui;
    font-size: 26px;
    color: #3e3e3e;
    margin-top: 120px;
}

.dealleft p {
    margin: 20px 0px;
    font-family: system-ui;
    font-size: 12px;
    width: 400px;
    color: #5c5b5b;
    text-align: center;
}

.dealfullbox {
    width: 100%;
    background: #fff0f394;
}

.dealleft h2 span {
    color: #ff8fa3;
}

.dealleft button a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.dealleft button {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    background: #fc91a4;
    margin-left: 147px;
}.dealright img {
    width: 220px;
    float: left;
    display: flex;
    margin: 52px 0px;
}
.ftext.instagramboxtext {
    margin-top: -48px;
    margin-bottom: 25px;
}.instagramboximage img {
    width: 235px;
    margin: 0px 6px;
}

.instagramboxinto {
    padding-bottom: 30px;
} 